<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my wokonnect</h1>

    <% result.forEach(function(employer) { %>
        <p>
            <%= employer.id %>
            <%= employer.title %>
        </p>


        <p>
            <%= employer.state %>
        </p>


        <button>Apply</button>

    <% }); %>
    
    
</body>
</html>